In [1]:
import pandas as pd
import numpy as np
import warnings; warnings.simplefilter('ignore')
SYMBOL_STOCK = "AXISBANK"
SYMBOL_NEWS = "AXISBANK"

In [2]:
text = pd.read_csv("../data/"+SYMBOL_STOCK+'_news.csv')
# text.drop(text.columns[[0, 5, 6]], axis = 1, inplace=True)
text['time'] = (text['year']-2000)*365 + text['month']*30 + text['date']
# text.head()

In [3]:
stock = pd.read_csv("../data/"+SYMBOL_STOCK+'_stocks.csv')

# Here 1 indicates that the stock would go up as close - open is a positive value

stock['year']=pd.to_numeric(stock['Date'].str.slice(0,4))
stock['month']=pd.to_numeric(stock['Date'].str.slice(5,7))
stock['date']=pd.to_numeric(stock['Date'].str.slice(8,10))
stock['time'] = (stock['year']-2000)*365 + stock['month']*30 + stock['date']

stock.loc[stock.Close > stock.Open, 'label'] = "1"
stock.loc[stock.Close <= stock.Open, 'label'] = "0"
stock.set_index(stock.time, inplace=True)
stock.sample(5)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble,year,month,date,time,label
time,,,,,,,,,,,,,,,,,,,,
3482,2009-06-17,AXISBANK,EQ,759.65,765.00,772.80,713.05,718.85,721.6,749.80,3157794,2.367716e+14,NaN,719554.0,0.2279,2009,6,17,3482,0
4684,2012-10-04,AXISBANK,EQ,1113.40,1123.00,1151.85,1123.00,1141.35,1140.8,1143.19,2439948,2.789320e+14,110443.0,1064905.0,0.4364,2012,10,4,4684,1
5608,2015-04-13,AXISBANK,EQ,568.05,570.00,571.65,562.00,565.35,566.0,567.41,4596222,2.607947e+14,68130.0,1834498.0,0.3991,2015,4,13,5608,0
2440,2006-08-10,UTIBANK,EQ,327.65,327.65,335.40,325.10,334.70,334.0,333.12,552424,1.840251e+13,NaN,195729.0,0.3543,2006,8,10,2440,1
51,2000-01-21,UTIBANK,EQ,24.45,25.00,25.30,24.30,25.30,25.1,24.79,47300,1.172575e+11,NaN,NaN,NaN,2000,1,21,51,1

In [4]:
X = text.loc[text.time == text.time.max(), ['title']]
X.to_csv("../data/"+SYMBOL_STOCK+'Test.csv',index = True)
print(X)

                                                title
0            30+ new FRESHERS JOBS vacancies in india
1   Mutual Fund: Top stocks bought and sold by mut...
2   Latest Current Affairs And GK Quiz For March 1...
3   Axis Bank Building Robust Digital Banking Ecos...
4   Central Government Holiday Homes And Touring O...
5   Digital payments in India to reach $1 trillion...
6   Banks leave worries behind, disburse Rs 1 lakh...
7                Google Alert - NON PERFORMING ASSETS
8                              Axis Bank â€” everything
9   PNB fraud: Banks leave worries behind, disburs...
10  PayTM: How Paytm is bracing for its biggest ba...
11  Three arrested for cheating people with debit ...
12            Axis Bank â€” swiping machine not working
13  Three arrested for cheating people with debit ...
14  Axis Bank â€” lien amount locked and still not r...
15                 Axis Bank â€” this is anita yenumula
16                         Axis Bank â€” fraud activity
17  Reserve Bank Of India [Rbi] â€” axis bank andher...
18  Delhi Development Authority [DDA] â€” surrender ...

In [5]:
for uni in text.time.unique():
    try:
        text.loc[text.time == uni, 'label'] = stock.loc[uni, 'label']
    except KeyError:
        text.loc[text.time == uni, 'label'] = np.nan
text.dropna(axis=0, how='any', inplace=True)
text.drop(text.columns[[0,1,3,4,5,6,7]], axis = 1, inplace=True)
text.sample(5)

text.to_csv("../data/"+SYMBOL_STOCK+'.csv',index = True)